<mat-toolbar>Dashboard</mat-toolbar>

<section class="last-login-info">
    <div fxLayout fxLayoutAlign="start center" class="message-card" >
        <div class="message-card__content" fxLayoutGap="20px" fxLayout fxLayoutAlign="start center">
            <div class="message-card__icon" fxFlex="90px"><mat-icon>notification_important_strocked</mat-icon></div>
            <div>
                <p><strong>Welcome</strong> </p>
                <p>Your last login date   27th Januvary 2019...</p>
            </div>
        </div>
    </div>
</section>

