<div class="register">
  <div class="register__container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
          <mat-tab label="User">
            <ng-container *ngTemplateOutlet="test"></ng-container>
          </mat-tab>
          <mat-tab label="Mentor">
            <ng-container *ngTemplateOutlet="test"></ng-container>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #test>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" class="mt15" fxLayout.lt-md="column">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Email" formControlName="username" id="username" required>
        <mat-error>Username is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="mt15" fxLayout.lt-md="column">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" formControlName="password" type="password" id="password" required>
        <mat-error>Password is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="mt15" fxLayout.lt-md="column">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName" id="firstName" required>
        <mat-error>First Name is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="mt15" fxLayout.lt-md="column">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName" id="lastName" required>
        <mat-error>Last Name is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" class="mt15" fxLayout.lt-md="column">
      <mat-form-field>
        <mat-label>Contact Number</mat-label>
        <input matInput placeholder="Contact Number" formControlName="contactNumber" id="contactNumber">
      </mat-form-field>
    </div>
    <div fxLayout="column" class="mt15" fxLayout.lt-md="column" *ngIf="selectedIndex==1">
      <mat-form-field>
        <mat-label>Linkedin Url</mat-label>
        <input matInput placeholder="Linkedin Url" formControlName="linkedinUrl" id="linkedinUrl">
      </mat-form-field>
    </div>
    <div fxFlex fxLayout="column" fxLayout.lt-md="column">
      <div fxFlexFill>
        <button mat-raised-button color="accent" type="submit">Register</button>
      </div>
    </div>
  </form>
</ng-template>
